<h1 class="page-header">Edit Blog</h1>
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
</div>

<form (submit)="updateBlogSubmit()" *ngIf="!loading">
  <div class="form-group">
    <label for="title">Title</label>
    <input [disabled]="processing" type="text" name="title" placeholder="*Blog Title" class="form-control" [(ngModel)]="blog.title">
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <textarea [disabled]="processing" name="body" cols="30" rows="10" [(ngModel)]="blog.body" class="form-control" placeholder="*Blog Body"></textarea>

    <a [routerLink]="['/delete-blog/', blog._id]"><button [disabled]="processing" type="button" name="button" class="btn btn-danger">Delete</button></a>
    <button class="btn btn-info" type="submit" name="button" [disabled]="processing">Save Changes</button>
  </div>
</form>
<button class="btn btn-success" type="button" name="button" (click)="goBack()" [disabled]="processing">Go Back</button>
